@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");



/* Overall page -------------------------------- */ 

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  height: auto;
  width: auto;
}

body {
 background-color: #011627;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  /* height: 100vh;
  width: 100vw; */
} 

.main {
  height: 90vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #000000e1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .modal {
  width: clamp(50%, 700px, 90%);
  height: min(50%, 300px);

  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;

} */

/* Header -------------------------------- */

header {
  padding: 0vw 10vw 0vw 10vw;
  font-family: "Fredoka One", cursive;
  height: 10%;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 255, 255);
}

/* .heading {
  color: whitesmoke;
  font-family: 'Lora', serif;
} */

nav {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  height: 7vh;
  width: 10vw;
}


.title {
  font-size:6vw;
	letter-spacing:0.1em;
	text-decoration:none;
	color: white;
	background:linear-gradient(to right,#363636 0%,#363636 100%);
	background-repeat: no-repeat;
	background-position: left 100%;
	transition-duration: 1s;
	background-size: 0 6%;
	
}

nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: wheat;
  border-radius: 100%;
}

/* World Map -------------------------------- */

.world-map {
  width: 100%;
  height: 90vh;
  background-color: #63768D;
  display: flex;
  position: absolute;
  justify-content: center;
}

svg {
  width: 100vw;
  height: 90vh;
}

path {
  fill: #c0c5c7;
}

path:hover {
  fill: #7ac1dd;
  fill-rule: evenodd;
  transition: 0.6s;
  cursor: pointer;
  
}

/* Country Info -------------------------------- */

.country-info {
  position: relative;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 2%;
  border: 1px solid black;
  width: 60vw;
  height: 60vh;
  /* transition: .64s ease-in-out; */
  border: #3d3d3d;
  border-style: groove;
  border: 1px solid red;
  box-shadow: 5px 5px 5px 5px;
  column-gap: 200px;
}
.icon {
  width:10vw;
  height: 10vh;
}

.top-section {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  /* border: 1px solid red; */

}

.bot-section {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;

  /* border: 1px solid red; */
}

.country-desc {
  order: 3;
  text-align: center;
}

.country-name {
  flex: 1 0 auto;
  order: 1;
  /* border: 1px solid red; */
  text-align: center;
}

.country-flag {
  /* flex: 2 0 auto; */
  display: block;
  width: 400px;
  height: 200px;
  order: 2;
  
  /* border: 1px solid red; */
}

.country-coat {
  flex: block;
  width: 200px;
  height: 200px;
  order: 3;
  /* border: 1px solid red; */
}





.switch {
  width: 120px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: flex-start;
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;
}

.switch[data-isOn="true"] {
  justify-content: flex-end;
}

.handle {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 40px;
}



.close-info-button {
  position: absolute;
  background: none;
  border: none;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close-info-button:hover {
  opacity: 1;
}
.close-info-button:before, .close-info-button:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 8px;
  background-color: #333;
}
.close-info-button:before {
  transform: rotate(45deg);
}
.close-info-button:after {
  transform: rotate(-45deg);
}


/* #map-container { */
  /* display: flex; */
  /* justify-content: center;
  display: inline-block;
  position: relative;  
  top: 0; left: 0;
  width: 100%; height: 100%; */
  /* padding: 5px; */
/* } */

/* svg#svg2.world-map {
  width: 100px;
} */


/* CSS */
.button-38 {
  
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.9), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 5vh;
	letter-spacing:0.2em;
	text-decoration:none;
	color:#ffffff;
	background:linear-gradient(to right,#363636 0%,#363636 100%);
	background-repeat: no-repeat;
	background-position: left 100%;
	transition-duration: 1s;
	background-size: 0 6%;
	
}

.button-38:hover {
  background-color: rgb(243, 248, 253);
  color:black
}

.button-38:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}