@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500&display=swap");

/* Overall page -------------------------------- */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  height: auto;
  width: auto;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url(./images/texture1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main {
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Header -------------------------------- */

header {
  padding: 0vw 10vw 0vw 10vw;
  font-family: "Londrina Outline", cursive;
  color: rgb(54, 104, 46);
  height: 10%;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #a8ccd731;
  /* animation: animateBg 15s linear infinite;
  background-image: linear-gradient(90deg,#91d3169c, #16cdd39c, #91d3169c);
  background-size: 400% 100%;       */
  box-shadow: 0 8px 6px -6px black;
  backdrop-filter: blur(5px);
  z-index:1;       
}

@keyframes animateBg {
  0% { background-position: 0% 100%; }
  100% { background-position: 100% 0%; }
}

footer {
  background-color: #3d3d3d75;
}

/* .heading {
  color: whitesmoke;
  font-family: 'Lora', serif;
} */

nav {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  height: 7vh;
  width: 10vw;
}

nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: wheat;
  border-radius: 100%;
}

/* World Map -------------------------------- */

.world-map {
  width: 100%;
  height: 80vh;
  display: flex;
  position: absolute;
  justify-content: center;
}

svg {
  width: 100vw;
  height: 90vh;
}

path {
  fill: rgba(113, 172, 102, 0.418);
}

path:hover {
  fill: rgba(153, 28, 28, 0.781);
  fill-rule: evenodd;
  transition: 0.6s ease-in-out;
  cursor: pointer;
}

/* Country Info -------------------------------- */

.modal {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  transition: 0.15s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}

.country-info {
  position: fixed;
  padding: 50px;
  background-color: #afe4f431;
  backdrop-filter: blur(5px);
  border-radius: 5px;
  width: 75vw;
  height: 75vh;
  /* animation: slidein 1.5s ease-in-out 0.5s 1 normal both; */
  transition: .4s ease-in-out;
  box-shadow: 5px 5px 50px 10px;
  column-gap: 200px;
  z-index: 10;
  display: flex;
  justify-content: flex-start;
  flex-flow:column nowrap;
  align-items: center;
}
.icon {
  width:10vw;
  height: 10vh;
}

.top-section {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  flex-flow: row nowrap;
  /* border: 1px solid red; */
}

.bot-section {
  margin-top: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column wrap;
  font-size: 18px;
  /* border: 1px solid red; */
  backdrop-filter: (5px);
  width: 50vw;
  /* height: 100%; */
  height: 50vh;
  overflow: auto ;
  padding: 20px ;
  border: 4px inset rgba(0, 0, 0, 0.432);
  border-radius: .5rem;
  background-color: rgba(255, 255, 255, 0.45);
}


.country-desc {
  order: 3;
  text-align: center;
  height: 100%;
}

.country-name {
  font-size: 2.5vw;
  font-family: "Londrina Outline", sans-serif;
  flex: 0 0 auto;
  text-align: center;
  border-bottom: 5px solid #111827;
}

.country-flag {
  flex: 0 0 auto;
  width: 12vw;
  order: 2;
}

.country-coat {
  flex: 0 0 auto;
  width: 12vh;

  order: 3;
  display: flex;
  gap: 5 5 5;
}

.close-info-button {
  position: absolute;
  background: none;
  border: none;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close-info-button:hover {
  opacity: 1;
}
.close-info-button:before, .close-info-button:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 8px;
  background-color: #333;
}
.close-info-button:before {
  transform: rotate(45deg);
}
.close-info-button:after {
  transform: rotate(-45deg);
}

/* #map-container { */
/* display: flex; */
/* justify-content: center;
  display: inline-block;
  position: relative;  
  top: 0; left: 0;
  width: 100%; height: 100%; */
/* padding: 5px; */
/* } */

/* svg#svg2.world-map {
  width: 100px;
} */


.button-38 {
  
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.9), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 5vh;
	letter-spacing:0.2em;
	text-decoration:none;
	color:black;
	background:linear-gradient(to right,#363636 0%,#363636 100%);
	background-repeat: no-repeat;
	background-position: left 100%;
	transition-duration: 1s;
	background-size: 0 6%;
	
}

.button-38:hover {
  background-color: rgb(243, 248, 253);
  color:black
}

.button-38:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}

/* SCROLLBAR */

.bot-section::-webkit-scrollbar {
  width: 1em;
}

.bot-section::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.bot-section::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}
/* Play section CSS */


.random-country-container{
  
  position: relative;
  top: 35vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  align-self: auto flex-start flex-end;
}

.play-country-title {
  position: fixed;
  font-family: "Londrina Outline", cursive;
  color: #36682e;
  font-size: 48px;
  background-color: #a8ccd71e;
  box-shadow: 8px 8px 6px -6px black;
  backdrop-filter: blur(2px);
  padding: 25px;
}

.btn-next {
  z-index: 50;
  top: 10vh;
  margin-top: 5%;
  position: relative;
  align-items: center;
  background-color: #a8ccd71e;
  box-shadow: 8px 8px 6px -6px black;
  backdrop-filter: blur(2px);
  padding: 25px;
  color: rgb(228, 50, 50);
  cursor: pointer;
  fill: rgb(255, 255, 255);
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 48px;
  outline: 0;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-image: url(./images/reload.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


.btn-next:focus {
  color: #171e29;
}

.btn-next:hover {
  border-color: rgb(228, 158, 28);
  color: rgb(235, 178, 22);
  fill: rgb(221, 41, 18);
}

.btn-next:active {
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  fill: rgb(255, 255, 255);
}

@media (min-width: 768px) {
  .btn-next {
    min-width: 48px;
  }
}

/* MERGE ISSUES FOLLOWING THIS */

.btn-next, .play-country-title, .turn, .answer, .score {
  margin-top: 12vh;
  align-self: flex-start;
  z-index: 1;
}

.play-country-title h2 {
  top: 10vh;
}

/* Footer */

footer {
  text-align: center;
  font-size: 0.7em;
}

.unselect {
  background-color: transparent;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display:flex;
  flex-direction: column;
}

.unselect-top{
  height: 10vh;
  width: 100%;
  z-index: -1;
}

.unselect-bottom{
  height: 90vh;
  width: 100%;
}

/* Music */

.music {
  z-index: 5;
}